*{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#homePage{
/*background: #2a4e63ef;*/
display: flex;
flex-direction: column;
align-items: center;
}
#banner{
width: 90vw;	
height: 55vh;
background: rgb(4, 207, 243);
margin: 0vh 5vw ;
display: flex;
flex-direction: column;
align-items: center;

}
#banner>img {
width: 90vw;	
height: 55vh;
margin-bottom: 5vh;
}
#viewAllMovies{
position: relative;
bottom: 100px;
width: 15vw;	
height: 20vh;
padding: 10px;
font-size: large;
background:#143dd0d2;
color: #ffffff;
text-decoration: none;
text-align: center;
border-radius: 45px;


}

.bestCards{
	
	margin: 5vh 5vw 0vh 5vw;
	text-align: center;
	padding-top: 10px;
	width: 90vw;	
	height: 55vh;
	background-image: linear-gradient(180deg, rgb(195, 252, 223) 0%, #fbfeff 100%);
	
	border-radius: 10px;
}
.history{
	box-shadow: 0px 10px 15px rgba(219, 218, 218, 0.37);
	margin: 5vh 5vw 0vh 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	width: 90vw;	
	height: 80vh;
	background-color: rgb(107, 188, 255);
	border-radius: 10px;
}
.history > img{
	width: 25vw;	
    height: 40vh;
	border-radius: 8px;
	margin: 0vh 3vw;
}
#description >p{
	padding: 0px 30px;
	font-size: 1em;
	text-align: justify;
}
.historyHayao{
	margin: 5vh 5vw 0vh 5vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	width: 90vw;	
	height: 80vh;
	background-color: mintcream;
	border-radius: 10px;
	box-shadow: 0px 10px 15px rgba(219, 218, 218, 0.37);
}
.historyHayao > img{
	width: 35vw;	
    height: 55vh;
	border-radius: 8px;
	margin: 0vh 3vw;
}
.museo{
	margin: 5vh 5vw 0vh 5vw;
	display: flex;
	flex-direction: row;
 	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	justify-content:space-evenly;
	width: 90vw;	
	height: 60vh;
}
#cardsGhibli{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: stretch;
	margin: 5vh 3vw 5vh 3vw;
	background-color:  mintcream;
	width: 20vw;	
	height: 50vh;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
	border-style: none;
}
#cardsGhibli > button{
	background-color: mintcream;
	border-style: none;
	cursor: pointer;
}


#bntViewMovie{
	text-align: center;
	padding: 0px 8px;
    margin-top: -5.1vw;
	color: azure;
	border-style: none;
	font-size: 1.3em;
	background:#143dd0d2;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	height:14vh;
	line-height: 1.3em;
	cursor: pointer;
}
#card{
	display: flex;
	flex-direction: row;
 	flex-wrap: wrap;
	justify-content: center;
	align-self: center;
	justify-content:space-evenly;
	margin: 5vh 9vw;
}
#cardMovie{	
	display: flex;
	flex-direction: column;
	margin: 15px 15px;
    color:rgb(3, 3, 3);
    width: 230px;
	height: 300px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
}


#imgMovie{ 	
	/*display:inline-block;
	position:absolute;*/
	width: 230px;
	height: 300px;	
	border-radius: 20px;
}
.titleMovie{
	text-align: center;
}


/*HEADER*/
.wrapper {
	position: sticky;
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1500px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
header{
	position:sticky;
	background-image:url(https://matutinografico.com/wp-content/uploads/2020/01/ghilbi.jpg);
    width: 100%;
    height: 16.5vh;
	top: 0;
	left: 0;
	margin-bottom: 8vh;
	overflow:hidden; /* Eliminamos errores de float */
	
}
 .logo {
	 position: sticky;
	margin:35px;
	color:#ffffff;
	font-size:50px;
	line-height:25px;
	float:left;
	
}
header::before{
	width: 100%;
    height: 16.5vh;
	content:'';
	position: absolute;
    top: 0;
	left: 0;
	right: 0;
	background-color: #2a4e63cb;
}
header nav {
	position: sticky;
	
	margin-top: 15px;
	float:right;
	line-height:25px;
}
header nav a {
	/*display:inline-block;*/
	
	display:inline-block;
	color:#fff;
	background-color: rgba(249, 252, 252, 0.075);
	text-decoration:none;
	margin:20px 0px;
	padding:10px 20px;
	line-height:normal;
	font-weight: bold;
	font-size:1.3em;
	border-radius: 45px;
	/*font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;*/
}

 a:hover {
	background:rgb(184, 207, 236);
	border-radius:50px;
}

/*Bonotens order by*/
.btnOrderBy > button {
	width: 50px;
	height: 35px;
	background-color:rgba(143, 188, 143, 0.918);
	margin-top: 10px;
	border-style: none;
	cursor: pointer;
}


/* FOOTHER*/
footer{
	padding:40px 0;
  color:#ffffff;
    width: 100%;
    height: 10vh;
    background-color: #05334dc0;
   
}

  .social {
		text-align:center;
		padding-bottom:25px;
	  }
	  
	 .social > a {
		font-size:24px;
		width:40px;
		height:40px;
		line-height:40px;
		display:inline-block;
		text-align:center;
		border-radius:50%;
		border:1px solid #ccc;
		margin:0 8px;
		color:inherit;
		opacity:0.75;
	  }
	  
	   .social > a:hover {
		opacity:0.9;
	  }
	  
	  .copyright {
		margin-top:15px;
		text-align:center;
		font-size:1em;
		color:rgb(255, 253, 253);
		margin-bottom:0;
	  }


/*LIST BOX*/
	  #filters{
		  display: flex;
		  flex-direction: row;
		  justify-content: space-around;
		  background-color: mintcream;
		  margin: 40px 160px;
	  }
	  
  
  .box select {
	background-color: #05334d;
	color: white;
	padding: 12px;
	width: 200px;
	border: none;
	font-size: 1.5vw;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-appearance: button;
	appearance: button;
	outline: none;
  }


  /* CARDS PEOPLE*/

  #cardPeople{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: stretch;
	margin: 15px 15px;
    color:rgb(3, 3, 3);
    width: 230px;
	height: 300px;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
	background: linear-gradient(180deg, #2a4e63cb 37.47%, rgba(80, 232, 253, 0.37) 99.99%);
	/*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
	/*background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);*/
	/*background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37, 144, 251, 0.678) 0.1%, rgba(0, 6, 128, 0.664) 99.8% );*/
	/*background-image: linear-gradient( 0deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% );*/
	/*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
	/*background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);*/
	/*background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);*/
	/*background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);*/
 	/*background-image: linear-gradient(to top, #b8ecbf 0%, white 100%);*/
	}


	#imgPeople{
		margin-top: 20px;
		width: 100px;
		height: 100px;
		border-radius: 170px;
		border-style:inset;
		border-color: rgb(6, 165, 165);
		border-width: 3px;
		
	}
#info{
padding: 3px 10px;
line-height: .3em;
text-align: center;
}
#name{
color: white;
line-height: .9em; 
text-align: center;
font-size: 1.3em;
}


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 80px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.479); /* Black w/ opacity */
	overflow: auto; /* Enable scroll if needed */
	
  }
  
  /* Modal Content */

  .description{
	  display: flex;
	  flex-direction: row;
	  align-content: center;
	  padding: 20px 20px;
	  font-size: 1.2em;
	  text-align: justify;
	   }
 
  .imgData{
	
	  margin: 20px 20px 10px 20px;
  }
  
  #sub-columna{
	  display: flex;
	  flex-direction: column;
	  padding-right: 20px;
	  padding-left: 10px;
  }
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	padding: 2px 16px;
	background-color: #143dd0d2;
	color: white;
  }
  

  .modal-footer {
	padding: 2px 16px;
	background-color: #143dd0d2;
	color: white;
  }

/* Media Query*/

@media (max-width: 1050px) { /* si es menor de 1000 px de ancho realiza lo que esta en el media*/
	
	#card{
		margin: 3vh 2vw;
		/*background-color: #05334d;*/
	}
	#bntViewMovie{
		margin-top: -6.5vw;
		border-style: none;
		font-size: 1.6em;
		line-height: 1.3em;
		cursor: pointer;
	}
	header{
		position:sticky;
		background-image:url(https://matutinografico.com/wp-content/uploads/2020/01/ghilbi.jpg);
		width: 100%;
		height: 150px;
		overflow:hidden; /* Eliminamos errores de float */
		
	}
	 .logo {
		margin:60px;
	}
	header::before{
		width: 100%;
		height: 150px;
		background-color: #275f80cb;
		/*background-color: #236f9bcb;*/
	}
	header nav {
		margin-top: 2vh;
		
	}
	header nav a {
		padding:10px 15px;
		line-height:normal;
		font-weight: bold;
		font-size:2.2em;
	}
	
	 a:hover {
		background:rgb(164, 201, 247);
		border-radius:50px;
	}

/*LIST BOX*/
#filters{
	margin: 50px 50px;
}
.box select {
width: 210px;
font-size: 2.3vh;
}


	

}
